:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* pallete: https://colorhunt.co/palette/78b9b50f828c065084320a6b */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #78B9B5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}